In [1]:
import sys
import os
os.chdir('../')
os.chdir('../src')
os.getcwd()

'C:\\Users\\81963\\Documents\\workspace\\RaMP\\src'

In [3]:
import urllib.request as RE
import pymysql as pysql
from update.RaMPDatabase import RaMPDatabase
import pandas as pd

ramp = RaMPDatabase()

conn = ramp.connectToRaMP(dbname = 'updateramp')

In [10]:
hmdbid = pd.read_sql('select * from source;',conn)

In [13]:
df = hmdbid.copy()
df = df.loc[(df['IDtype'] == 'hmdb') & (df['geneOrCompound'] == 'compound') ]
print(df.shape)
df.head()

(114101, 5)

,sourceId,rampId,IDtype,geneOrCompound,commonName
53234,hmdb:HMDB0000001,RAMP_C_000008903,hmdb,compound,1-Methylhistidine
53235,hmdb:HMDB0000002,RAMP_C_000063389,hmdb,compound,"1,3-Diaminopropane"
53236,hmdb:HMDB0000005,RAMP_C_000034330,hmdb,compound,2-Ketobutyric acid
53237,hmdb:HMDB0000008,RAMP_C_000073086,hmdb,compound,2-Hydroxybutyric acid
53238,hmdb:HMDB0000010,RAMP_C_000027643,hmdb,compound,2-Methoxyestrone

In [16]:
df.describe()

,sourceId,rampId,IDtype,geneOrCompound,commonName
count,114101,114101,114101,114101,114101
unique,114101,111006,1,1,97178
top,hmdb:HMDB0068982,RAMP_C_000000083,hmdb,compound,2-amino-4-({1-[(carboxymethyl)
freq,1,989,114101,114101,134

In [14]:
listofids = df['sourceId'].tolist()

In [17]:
listofids = map(lambda x:x.replace('hmdb:HMDB00','HMDB'),listofids)

In [19]:
listofids = list(listofids)

In [31]:
url = 'http://webservice.bridgedb.org/Human/xrefs/Ch/'
oneid = listofids[0]
web = url + oneid
print(web)
mapping = RE.urlopen(url+oneid)

http://webservice.bridgedb.org/Human/xrefs/Ch/HMDB00001

In [32]:
info = mapping.read()

In [33]:
info = info.decode('utf-8')

In [35]:
info = info.split('\n')
info

['92105\tPubChem-compound',
 'Q27094989\tWikidata',
 'C01152\tKEGG Compound',
 'CHEBI:50599\tChEBI',
 'DTXSID50186848\tEPA CompTox',
 '83153\tChemspider',
 '50599\tChEBI',
 'HMDB00001\tHMDB',
 '332-80-9\tCAS',
 'BRMWTNUJHUMWMS-LURJTMIESA-N\tInChIKey',
 '']